blessed==1.20.0
certifi==2024.8.30
charset-normalizer==3.4.0
editor==1.6.6
idna==3.10
inquirer==3.4.0
prompt-toolkit==1.0.14
Pygments==2.18.0
readchar==4.2.0
regex==2024.9.11
requests==2.32.3
runs==1.2.2
six==1.16.0
urllib3==2.2.3
wcwidth==0.2.13
xmod==1.8.1
